[2015-05-03 23:00] stanwarri opened #1 "Laravel 5 Support"
I want to confirm if this works for Laravel 5

[2015-05-06 00:44] SimplyCorey commented on #1
@stanwarri  I added basic support for Laravel 5 today and released it as a beta.  I have not had a lot of time to test the changes.  Please check it out and report back :wink:

[2015-05-06 17:53] stanwarri commented on #1
@SimplyCorey Well done. I will test and give you feedback.

[2015-05-07 18:40] stanwarri commented on #1
Your boot function should be

[code]

Thanks

[2015-05-08 00:06] SimplyCorey commented on #1
@stanwarri I would be interested in why you believe that is correct?  Currently the publish command generates a new `sms.php` file under the `config` folder which I believe is better because it keeps everything separate from the Laravel config files.  I also tried your boot method and it generates an error of `Can't locate path.`  Did you have issues with the vendor:publish command with the follow

[2015-05-09 14:01] stanwarri commented on #1
Hello @SimplyCorey There was an error with vendor:publish. The config file in the src folder is 'config.php' and not 'sms.php'

[2015-05-09 14:48] SimplyCorey commented on #1
@stanwarri I see what is happening now.  On my development machine, the config file is called `sms.php`  For some reason, this did not sync when I did my last git push.

[2015-06-05 06:36] ignasbernotas opened #2 "[improvement] Remove message text from views"
It seems like it's an overhead to store the message text in blade files. I would assume that a lot of folks would pull the text from a database, translation file, etc. Why was this approached selected?

[2015-06-09 00:32] SimplyCorey commented on #2
This approach was used to allow users to have templates in their blade files and then fill in the templates with things such as usernames ext.

I can add a "simple" method which can be used to send a message without a blade template file.

[2015-06-12 13:10] neeravp commented on #1
I tried with laravel 5 using twilio driver but it gives an error as under:

[code]

What could be the issue?

[2015-06-15 00:09] SimplyCorey commented on #1
@neeravp  Can you please provide an error log for this?

[2015-06-19 13:58] neeravp commented on #1
Sorry for responding late but the thing is that I am traveling so not able to reproduce the error  and its log. Will do it in a couple of days when I am back.

[2015-06-25 09:46] pracman opened #3 "Was trying to use it with laravel 5.1.2"
Hello,
Was trying to use it with my application which is on laravel 5.1.2. To my composer.json i added this line "simplesoftwareio/simple-sms": "dev-master" in requirement section. It gave following error (Please check screen shot). Any suggestion. Thanks
![screen shot 2015-06-25 at 11 43 05 am](https://cloud.githubusercontent.com/assets/3293359/8351700/9be9dbf4-1b2f-11e5-9b99-b1be5a77b59f.png)

[2015-06-25 18:00] SimplyCorey commented on #3
I haven't tried this with Laravel 5.1 yet.  I'll take a look shortly and see what is going on.

[2015-06-26 23:27] SimplyCorey commented on #3
Fixed in latest dev branch.

[2015-06-26 23:27] #3 closed

[2015-06-26 23:29] SimplyCorey commented on #1
@neeravp Any luck with this?  I am unable to reproduce this error and I am looking at releasing this as stable tomorrow.  Thank you

[2015-06-30 23:30] sdeering opened #4 "Mention L5 dependencies in docs"
Hi guys, I thought to mention L5 dependencies in the docs.

![image](https://cloud.githubusercontent.com/assets/1787454/8444426/b6b207ba-1fd3-11e5-91ec-d56828164c23.png)

What features of Guzzle 6.0.* are you using?

[2015-07-01 10:59] SimplyCorey commented on #4
I haven't thoroughly tested the dev branch yet.  We aren't using any new features and we may drop down to 5.\* due to this.  Thank you for pointing this out!

[2015-07-01 11:15] sdeering commented on #4
Thanks mate

[2015-07-06 12:16] ghost commented on #3
Thanks @SimplyCorey

[2015-07-31 03:34] computerfr33k opened #5 "Unable to send SMS with EZTexting"
[code]

[2015-07-31 17:59] SimplyCorey commented on #5
Is this for Laravel 4 or 5?

[2015-07-31 18:49] ericp1337 commented on #5
Laravel 5

On July 31, 2015 12:59:01 PM CDT, Corey McCormick notifications@github.com wrote:

##

Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-07-31 19:48] SimplyCorey commented on #5
I have a bunch of updates for this that I'll be pushing soon.

[2015-08-01 00:56] SimplyCorey commented on #5
Fixed in latest dev-master.

[2015-08-01 00:56] #5 closed

[2015-08-01 01:01] SimplyCorey commented on #4
Added.

[2015-08-01 01:01] #4 closed

[2015-08-01 01:11] SimplyCorey commented on #2
@ignasbernotas  You can now send simple messages with the latest dev branch.

[code]

[2015-08-01 01:11] #2 closed

[2015-08-01 01:12] SimplyCorey commented on #1
@neeravp I can not reproduce this error.  I would ensure your openssl is working with your server.

[2015-08-01 01:19] #1 closed

[2015-08-01 01:19] SimplyCorey commented on #1
Simple-SMS 2.0.0 is released.

[2015-10-03 13:28] mlanser opened #6 "Does this module really need Guzzle 6.0?"
It seems quite a few Laravel modules do not yet support Guzzle 6.0 (e.g. Laravel Socialite) and I get conflicts when I try to run "composer update". Does this module absolutely require Guzzle 6? Or am I missing something?

TIA,
-martin.

[2015-10-04 17:40] SimplyCorey commented on #6
We made a code change (https://github.com/SimpleSoftwareIO/simple-sms/commit/919e115de17ecb3f0b8a42ce5358a95f18cf9a75) to upgrade to Guzzle 6.  You could fork the package and reverse the change to you Guzzle 5 and below.

Are there any other popular Laravel modules that do not support Guzzle 6?  We may reverse this change if there are to many conflicts in the wild.

[2015-10-06 07:30] Ellrion opened #7 "Fix readme doc"
How about delete all information about install package on laravel version 4 from readme in version 2? Juste create link to 1.* relise https://github.com/SimpleSoftwareIO/simple-sms/tree/1.1.0

[2015-10-08 15:29] mlanser commented on #6
@SimplyCorey thx for your reply ... I will try to check which other Laravel packages have issues with Guzzle 6. I thought I found at least 2, but there could be more. I will play with this a bit over next few days and will let you know. Worst case I just fork this temporarily (as per your suggestion).

[2015-10-12 02:49] benrowe opened #10 "Ability to add in new drivers at runtime"
It would be nice if there was an easy way to write drivers for additional services and have them loaded in.

At the moment the drivers are hard coded and there's no way to specify a different driver.

[2015-10-12 15:39] fsyauqy opened #11 "Eztexting - GuzzleHttp\Exception\ClientException] Client error: 403"
I got this error when using eztexting driver.
Fyi, I use the correct username and password.
 Can you help me?

[2015-10-12 16:44] mfakhrys commented on #11
Nvm, somehow it doesn't appear again.

[2015-10-12 16:44] #11 closed

[2015-10-16 12:33] z2z commented on #10
+1 I am looking for the same ... Extend the package with custom driver.

(Laravel 4.2)

[2015-10-17 00:22] SimplyCorey commented on #10
How would you guys like to see the syntax for this?

[2015-10-19 21:22] Ellrion commented on #10
Look at #8 with this architect we may extend service like this

[code]

[2015-10-28 02:59] SimplyCorey commented on #7
We plan on moving the 4 to a new document completely.  Feel free to pull request!

[2015-10-28 03:00] SimplyCorey commented on #10
I'll be adding this shortly.  Most likely this upcoming weekend.

[2015-11-07 17:16] Asetss opened #14 "Queue does not work"
code

[code]

I receive an error
Class 'Illuminate\Support\SerializableClosure' not found

what went wrong?

[2015-11-07 19:22] SimplyCorey commented on #14
Which Laravel are you using?

[2015-11-08 05:08] Asetss commented on #14
@SimplyCorey Yes. I use the latest version.

no such file on 'Illuminate\Support\SerializableClosure'
https://github.com/illuminate/support

[2015-11-08 14:33] SimplyCorey commented on #14
I would try running `composer dump-autoload -o`.  It seems like your autoload file is not build correctly.

[2015-11-09 04:58] Asetss commented on #14
Tried.
1.I removed from my dump and
2.Deleted vendor
3.Command composer update.

Does not work :|

[2015-11-09 19:58] SimplyCorey commented on #14
I'll take a look at this.  Can you include the code you were using please?

[2015-11-12 23:32] SimplyCorey commented on #6
Added to read me.

[2015-11-12 23:32] #6 closed

[2015-11-12 23:41] SimplyCorey commented on #7
Fixed in latest master.

[2015-11-12 23:41] #7 closed

[2015-11-13 09:46] Asetss commented on #14
Ok. What code?

[2015-11-13 11:59] SimplyCorey commented on #14
I've found the issue.  I will push a bug fix tomorrow when I finish up some other items for this project as well.

[2015-11-13 12:58] Asetss commented on #14
Excellent. Will wait.

[2015-11-16 23:13] SimplyCorey commented on #14
Life's been a little busy these past few days.  I am testing the fix and will release 2.1 shortly!  Sorry!

[2015-11-17 04:32] Asetss commented on #14
Thank you.

[2015-11-26 19:41] palokankare commented on #14
@SimplyCorey Do you have plans to release 2.1?

[2015-11-28 02:32] SimplyCorey commented on #14
@Asetss @kallepa  I will be releasing this tomorrow!  I have been enjoying the holiday with my family; sorry for the delays guys!

[2015-11-28 21:21] SimplyCorey commented on #10
Fixed in 2.1.0 with the new `driver` method.

[2015-11-28 21:21] #10 closed

[2015-11-28 21:21] SimplyCorey commented on #14
Fixed in 2.1.0

[2015-11-28 21:21] #14 closed

[2016-01-30 19:46] Wolrab1 opened #18 "Driver [Selected Driver] not supported."
I've just pulled in this awesome service but I can't get it too work..
I keep getting the message: Driver [Selected Driver] not supported.
I've changed / choosen the twilio driver but can't get any further.
I edited both the config/sms.php file and the vendor/simplesoftwareIO/simple-sms/src/config/sms,php

My file:

[code]

Any help would be greatly appreciated - I followed the step by step instru

[2016-01-31 01:06] SimplyCorey commented on #18
Hey there,

I just tested the latest package and everything worked on our end.  You should be editing the `config/sms.php` file.

I would suggest deleting your `config/sms.php` file and then running this artisan command: `php artisan vendor:publish.`  Afterwards, edit your `config/sms.php` file.

If should look something like this afterwards

[code]

Let me know if this solves your problem or if y

[2016-01-31 01:13] kieranbarlow commented on #18
Hey

Fixed the issue seemed it was the application cache! Thanks for the reply though.

Kieran

Sent from my iPhone

On 31 Jan 2016, at 01:06, Corey McCormick <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey there,

I just tested the latest package and everything worked on our end. You should be editing the config/sms.php file.

I would suggest deleting your config/sms.php f

[2016-01-31 01:49] #18 closed

[2016-01-31 02:16] SimplyCorey commented on #18
Ah that has gotten me a few times.  Glad you figured it out!

[2016-02-26 14:28] adetoola opened #20 "Incorrect class is called in code"
Class mailer is being referenced instead of sms in [https://github.com/SimpleSoftwareIO/simple-sms/blob/master/src/SimpleSoftwareIO/SMS/SMS.php](url) on line 257

`$this->queue->later($delay, 'mailer@handleQueuedMessage', compact('view', 'data', 'callback'), $queue);`

[2016-02-28 19:50] parithiban opened #21 "Where to set up config file"
Hi,

I am new to laravel. I have installed your package i have unicel  credentials to send sms my concern is in  which file i need to set up configuration for the above inorder to send sms.

[2016-02-29 16:22] SimplyCorey commented on #20
Hey there!

Thanks for reporting this.  I'll get a bug fixed for this pushed shortly.

[2016-02-29 16:30] SimplyCorey commented on #21
Hey there,

Did you run `php artisan vendor:publish`? If so, the settings should be saved under `config/sms.php`

Let me know if you need anymore help!

[2016-02-29 22:17] marfurt opened #22 "Return the outgoing message in SMS send method"
Currently, the `send` method in SMS doesn't return anything. Returning the outgoing message created inside the method could be useful (for example for testing). Note that this is done by the equivalent `send` method of the Laravel Mailer class.

[2016-03-01 03:29] SimplyCorey commented on #22
Hey,

I agree with you that this could be useful.  Feel free to make a pull request!

[2016-03-01 07:44] marfurt commented on #22
There is a [new pull request](https://github.com/SimpleSoftwareIO/simple-sms/pull/23). Thank you

[2016-03-01 07:44] #22 closed

[2016-03-12 18:40] parithiban commented on #21
Hi,

Thanks for the reply.I got the sms configuration after installing "smart-crowd/simple-sms-drivers".
My Question is this:

if  i hit this url through **curl** i am able to send sms how to implement this in your package??
`http://api.unicel.in/SendSMS/sendmsg.php?uname=XXXXX&pass=XXXXX&send=XXXX&dest=91".$mobilenumber."&msg=".$bodycontent."&concat=1`

And where to set the sms driver credentials

[2016-03-13 19:17] SimplyCorey commented on #21
I am confused.  I am unable to find `smart-crowd/simple-sms-drivers`

We do not currently have a driver for Unicel.  If you wanted to create one, you would need to create a new driver using the `DriverInterface` class.  Afterwards you would need to register this with the `DriverManager` and set your `config/sms.php` config file.

I would suggest looking at one of the current drivers for more infor

[2016-03-15 09:50] Ellrion commented on #21
@SimplyCorey , @parithiban talks about (https://github.com/SmartCrowd/simple-sms-drivers)
But I do not understand his problem

[2016-03-15 14:26] thom7kick opened #24 "what does the $data represent in sending sms and how to send free sms"
Hi. For test i am trying to send verification code sms using the free email to sms gateway. What should i include in the $data variable ... and please share a way to send free sms. thankyou for ur help.
SMS::send('simple-sms::welcome', $data, function($sms) {
            $sms->to('+25416737319');
        });

[2016-03-16 14:48] SimplyCorey commented on #24
The $data variable is the information past to the blade template.  It should be an array that will fill out any variables with the template.

If you are not using a template and instead using the simple method of passing a string as the first argument, $data should be null because it will not be used.

Does that help?

[2016-03-17 01:27] #21 closed

[2016-03-17 01:27] SimplyCorey commented on #21
I'm not sure of the exact issue as well.  @parithiban  Please clarify.

[2016-03-17 01:30] SimplyCorey commented on #24
You may send a free sms using the Email driver.

[code]

[2016-03-17 08:24] thomas-tewelde commented on #24
Hi thankyou for ur reply. i was able to try that, however i am getting this error:

[2016-03-17 13:19] SimplyCorey commented on #24
You are calling a view that doesn't exists.  You need to replace `simple-sms::welcome` with a view within your `resources/views` folder.

[2016-03-17 21:02] Nekudapsik opened #25 "Ability to add "type" parameter to Nexmo API Request"
Hi,
I am using a Nexmo driver for sending SMS in Hebrew language. There is a problem with encoding, and to fix it I need to add a &type=unicode to HTTP requests and URL. Is there any conventional way of doing it?

[2016-03-20 19:07] SimplyCorey commented on #25
There is not a way to do this currently.  I'll look into adding this in the future.

[2016-03-23 02:35] #24 closed

[2016-04-28 21:44] marfurt opened #30 "Error on sending multiple messages"
Sending multiple messages with drivers that use the Guzzle client (like Nexmo) returns an error on the second and subsequent messages.

	try {
		SMS::send('Hello #1', [], function($sms) {
			$sms->to('xxx');
		});

		SMS::send('Hello #2', [], function($sms) {
			$sms->to('xxx');
		});
	}
	catch (\GuzzleHttp\Exception\ClientException $e) {
		var_dump($e->getResponse()->getBody()->getContents());
	}

[2016-04-30 14:17] SimplyCorey commented on #30
Thanks for the report.  The current package has some design flaws that I would to address soon.  I agree that a request object needs to be created that the should be separated from the each sms client.

[2016-05-01 19:17] marfurt commented on #30
Since we need this feature in a current project, I've [forked](https://github.com/Apiness/simple-sms) yours and made changes so we can use it.

I haven't proposed a pull request because I've made a lot of modifications and only tested with Nexmo, but tell me if you're interested in it.

[2016-05-06 17:29] bendparker opened #31 "Can't send with string instead of view"
I get this message:

InvalidArgumentException in FileViewFinder.php line 137:
View [This is a test!] not found.

[2016-05-07 01:04] SimplyCorey commented on #31
Are you using the email driver?

[2016-05-07 01:36] bendparker commented on #31
Yep...is that not supported?  I apologize if I missed something in the docs.

[2016-05-07 01:42] SimplyCorey commented on #31
It is supported, but a known bug exists.  I plan on cleaning up these bug reports this weekend and releasing the next version.  More than likely, this will be ready to go on Sunday. Sorry for the issues.

[2016-05-07 01:49] bendparker commented on #31
No worries, I appreciate the repository.  I'll try again when I see the next version released.

[2016-05-18 16:29] bendparker commented on #31
Any progress on this?

[2016-05-19 23:49] SimplyCorey commented on #31
There has not been much movement.  I have been very busy on some other tasks.  The issue lies here: https://github.com/SimpleSoftwareIO/simple-sms/blob/develop/src/SimpleSoftwareIO/SMS/Drivers/EmailSMS.php#L37

It needs to support Laravels raw method when a view is not being passed in.

Using a view is currently working with the Email driver.  As a work around for now, you could pass in a view.

[2016-05-24 03:58] LTSTech opened #32 "SMS::Pretend"
Hello,

first thanks for this very cool library.
we hit an issue when trying to use the pretend function.
The doc says to call it statically but the definition is not static.
As a result we get an exception.

[code]

Should the doc be updated?

Cheers!

[2016-05-26 22:43] SimplyCorey commented on #30
@marfurt I took a look at the fork and I will be taking some of these modifications.  Thank you for your work!

[2016-05-26 22:45] SimplyCorey commented on #32
@LTSTech It look like you are accessing the package the wrong way.  Are you using Laravel?  The package should never be accessed via statics.  It should be using Laravel's facades (which look like statics)  This error leads me to believe that you did not do this part of the installation.

[code]

Please let me know if this fixes/doesn't fix your issue.

[2016-05-27 09:29] abulanon commented on #32
@SimplyCorey,
It works now.
hi added already the providers and aliases correctly to config/app.php file.

I found out that the issue is the class that I have declared in uses clause.
before:
use SimpleSoftwareIO\SMS\SMS;
after(correct one):
use SimpleSoftwareIO\SMS\Facades\SMS;

Anyways it is ok now. Thank you for the response.

Regards..

[2016-05-27 11:05] #32 closed

[2016-05-30 17:06] #20 closed

[2016-05-30 17:56] SimplyCorey commented on #31
This is fixed in the develop branch if you want to go ahead and start using it.  I plan on releasing the v3.0.0 beta this week which includes quite a few changes to the package.

[2016-05-30 17:56] #31 closed

[2016-05-31 16:55] bendparker commented on #31
Thanks!  I'll wait for the v3 to be pushed out so I don't have to change settings on my composer file.

[2016-06-11 10:12] stojankukrika opened #35 "Installation problem in laravel 5.2"
Hi,
I try to install it on my laravel application whic use last laravel 5.2 but have a problem. Composer return me an error:
`  Problem 1

    - Conclusion: remove laravel/framework v5.2.37
    - Conclusion: don't install laravel/framework v5.2.37
    - Conclusion: don't install laravel/framework v5.2.36
    - Conclusion: don't install laravel/framework v5.2.35
    - Conclusion: don't install lara

[2016-06-11 13:39] SimplyCorey commented on #35
@stojankukrika Please post your composer.json file.

[2016-06-11 15:29] SimplyCorey commented on #30
Fixed in latest dev branch.  Shipping today.

[2016-06-11 15:29] #30 closed

[2016-06-11 17:49] SimplyCorey commented on #25
Fixed in `V3.0.0`

[2016-06-11 17:49] #25 closed

[2016-06-11 21:38] stojankukrika commented on #35
{
  "name": "laravel/laravel",
  "description": "The Laravel Framework.",
  "keywords": [
    "framework",
    "laravel"
  ],
  "license": "MIT",
  "type": "project",
  "require": {
    "php": ">=5.5.9",
    "laravel/framework": "5.2._",
    "netshell/paypal": "dev-master",
    "laravelcollective/html": "5.2._",
    "laracasts/flash": "~2.0",
    "yajra/laravel-datatables-oracle": "~6.10.1",
    "

[2016-06-12 15:10] SimplyCorey commented on #35
`cartalyst/stripe-laravel` is conflicting with the package and needs to be upgrading to version ~4.  `cartalyst/stripe-laravel` ~2 is using an older guzzle package which conflicts with the guzzle package required by simple-sms.

Changing `"cartalyst/stripe-laravel": "~2.0.3",` to `"cartalyst/stripe-laravel": "~4",` will solve the conflict.

[2016-06-12 15:10] #35 closed

[2016-06-13 06:10] stojankukrika commented on #35
Thank you very much! Great! It's works! You are the best! :+1:

[2016-06-27 12:07] daryledesilva opened #37 "outdated nexmo api endpoints"
Hello, i've tried using https://www.simplesoftware.io/docs/simple-sms

and i have the trial account for nexmo

I think the api endpoints you are using for nexmo are already outdated

example errors:
[code]
[code]

in my test i used the send sms method and also the fetch all messages. both returned 400 bad requests.

i have checked nexmo documentation and they're using different urls now
like this

[2016-06-29 19:49] SimplyCorey commented on #37
@daryledesilva this was a known bug in how the calls were being built in 2.0 and should be fixed in 3.0.  Will you give it a try and see if there is any issues?  I have tried it on my side and everything is working.

[2016-06-30 02:28] daryledesilva commented on #37
ok ill double check from my side again. cheers!

[2016-06-30 02:28] #37 closed

[2016-06-30 12:33] SimplyCorey commented on #37
@daryledesilva Worked on 3.0?

[2016-07-04 09:07] weezqyd opened #39 "Error when publishing config file"
an error occurs when  publishing the config file. please change the boot method  in SMSServiceProvider from
[code]
to
[code]
because the service provider and the config folder lie on the same location

[2016-07-04 14:57] SimplyCorey commented on #39
Fixed in `3.0.1`

[2016-07-04 14:59] #39 closed

[2016-07-06 07:21] DaveTheCrane opened #40 "Can't get Log driver to work"
Hi,

I've installed your package in my Laravel 5.2.39 app, and successfully used it to send SMS via Twilio, so I know everything's set up correctly. Very impressed by the ease of use, and similarity to the mailer interface is a nice touch. So big thanks for your code, and releasing it as open source.

One thing's giving me problems though.

I'd like to switch to a mocked-out driver for dev environ

[2016-07-06 12:59] SimplyCorey commented on #40
Did you install V3?  This was a new feature with V3 and does not exist in V2.

[2016-07-06 13:12] DaveTheCrane commented on #40
Hi Corey,

Nope, schoolboy error on my part! I had v2 installed (composer.json require:{} as follows):

[code]

Updated to "3.0.*" (like it says on your doc page, dunno where I'd got the v2 from), and it works.

Thanks, Dave

[2016-07-06 13:12] #40 closed

[2016-10-04 11:24] masum110011 opened #44 "SMSNotSentException, verify undifiened when using Plivo SMS"
when using plivo sms to send sms, throws "**SMSNotSentException**" not found so I soved it by defining my own "SMSNotSentException" method in "vendor/simplesoftwareio/simple-sms/src/Drivers/PlivoSMS.php".
Also define a protected $verify ...property on inside the class, outside of any methods. Else wil throw errors,
You can get the success response by adding few lines in "send: method in the same f

[2016-10-04 13:25] SimplyCorey commented on #44
Can you send me a diff file or pull request so I can see the changes?

[2016-10-10 19:00] dobando-dev opened #45 "Exception Services_Twilio_RestException when queuing an SMS"
Hi! I'm getting this Twilio exception when trying to queue an SMS

Notice the "//" before "Messages.json". According to Twilio, my account SID should be used there.
Using SEND instead of QUEUE works fine.
I'll appreciate any help on this. Thanks!

[2016-10-11 00:34] SimplyCorey commented on #45
hmm.  Thanks, I will take a look

[2016-11-02 13:25] N02SRT opened #48 "Twilio Receive Messages Error"
Hello,

I have been using Simple-SMS for sending messages with Twilio, and it works great. :)

I just recently started working with receiving messages, and I keep getting an error:

![image](https://cloud.githubusercontent.com/assets/14588565/19930256/f691689e-a0dd-11e6-902e-689788c0e177.png)

I am using Laravel 5.2, SimpleSMS 3.0.1, and Guzzle 6.0.

Any Idea what would be causing this?

Thanks!

[2016-11-02 13:37] SimplyCorey commented on #48
@N02SRT Can I see the code you are using to receive please?  Thanks

[2016-11-02 14:29] N02SRT commented on #48
Sure thing. Here it is:

[2016-11-14 18:43] diogolast opened #50 "Can´t send sms with Zenvia"
Hello,

I am trying to send SMS with Zenvia and I getting:

This is the function I am calling.
[code]

I am using Laravel 5.2, SimpleSMS 3.0.1, and Guzzle 6.0.

Any Idea what would be causing this?

Thanks!

[2016-11-14 23:09] SimplyCorey commented on #50
I just checked the code for this and see that the `MakesRequests` trait is on this driver which has that function.  Do you have any other debugging information I can look at?  Did you set your API settings in config/sms.php?  What PHP version are you using?

[2016-11-14 23:09] SimplyCorey commented on #48
Thanks, I am looking into this.

[2016-11-14 23:17] SimplyCorey commented on #44
@masum110011 Any feedback?

[2016-11-14 23:17] SimplyCorey commented on #45
@dobando-dev Were you able to resolve this?  I cant currently reproduce the error.

[2016-11-15 01:12] diogolast commented on #50
Yes, I have set the API settings. I am using Laravel Homestead with PHP 7. I searched for the MakesRequests on Zenvia driver and I haven't found. Can you check the master branch on 3.0.1?

Thanks

[2016-11-15 01:28] SimplyCorey commented on #50
I see the issue.  The driver has it on develop but it never made it to the master branch.  Sorry about that! Ill push out a bug fix tomorrow.

[2016-11-15 03:12] diogolast commented on #50
Thanks!!!

[2016-11-18 20:37] dobando-dev commented on #45
Hi Corey, thanks for reaching out. Well, I have the code working with SEND
for now. I just tried switching to QUEUE and I'm no longer getting errors,
but sms are not being sent. I have Laraque configured, and I can confirm
its working because I'm receiving emails from my app. Any ideas?

On Mon, Nov 14, 2016 at 5:17 PM, Corey McCormick notifications@github.com
wrote:

##

Daniel Obando Fuentes
Gro

[2016-12-22 19:23] Rhincodon opened #51 "Api params should be in config"
Example: NexmoDriver has property `$apiEnding` that applies to every request. Its set to `type=unicode` now. People might not need unicode, its just not default param that some user requested in his issue and that issue has accepted. That param controlling max length of message, and sms is forced to be 70 chars for now.

[2016-12-31 16:51] SimplyCorey commented on #51
@Rhincodon, I agree.  I am currently on vacation and wont be able to address this until I get back.  Feel free to make a pull request though to fix the issue.

[2016-12-31 16:52] SimplyCorey commented on #45
I still havnt been able to get this to happen.  Which queue driver are you using?

[2017-01-18 16:56] JuanS-zz opened #52 "Lumen support"
Hi there, I'm migrating a project from Laravel to Lumen and can't get your component working properly.

I get the following error
[code]

Any idea?

[2017-01-20 07:43] fabiogalera commented on #50
Hello,

When the version 3.0.2 will come out ? Would like to have this fixed.

[2017-01-23 13:48] SimplyCorey commented on #52
I will need to review the code.  I would like to get a Lumen part added to the docs.

[2017-01-23 13:49] SimplyCorey commented on #50
@filipegar I will get the release out this week.

[2017-02-02 03:35] SaltedBlowfish opened #54 "Critical error -- Laravel 5.4 deprecated "share" method. Use singleton instead."
See line 50 of SMSServiceProvider.php in the package. As I stated in the title, Laravel deprecated the `share` method that's being used here.

[code]

Until this is fixed, the package is incompatible with Laravel 5.4.

[2017-02-07 03:25] taishjason commented on #54
[code]
Perhaps this work?

[2017-02-07 13:19] SimplyCorey commented on #54
I have not tested this in 5.4 yet.  I have been pretty busy at work, but I plan on getting this address with the other issues soon.

[2017-02-21 16:58] nunesbeto commented on #54
+1

[2017-02-22 23:28] SimplyCorey commented on #54
I did some work on this tonight.  I need to do some code review before I make this change.  I plan on getting the next version of this released this week which would include this fix.

[2017-02-22 23:29] SimplyCorey commented on #50
Releasing the next version in a few minutes.

[2017-02-22 23:29] #50 closed

[2017-02-22 23:30] #44 closed

[2017-02-23 04:18] mifas commented on #54
Still, has the error, `SMSServiceProvider@registerSender ` need to switch to singleton method.

[2017-02-24 13:46] SimplyCorey commented on #54
See my comment above.

[2017-03-16 07:35] weezqyd opened #60 "Dependency [jeremeamia/superclosure] removed in laravel 5.4"
[jeremeamia/superclosure] has been removed in laravel 5.4. all queued sms notifications are failing .

[2017-03-16 14:18] ngugijames opened #61 "Custom Driver"
Hi,
I want to use a sms sending service that is currently not supported by this package. How can i extend this package to use my custom driver without modifying the package source files?

[2017-03-17 22:19] turtlechase commented on #54
Still happens. 21 days passed. When will you be able to update? Thanks

[2017-03-18 09:05] vesper8 commented on #54
put this in my composer.json and am getting the latest fix which works

[code]

[2017-03-19 22:14] SimplyCorey commented on #54
Out in 3.1.1

[2017-03-19 22:14] #54 closed

[2017-03-19 22:15] #45 closed

[2017-03-20 11:17] weezqyd commented on #61
Create a manager class that extends `SimpleSoftwareIO\SMS\DriverManager`  register your sms service  on this class, Create a copy of  `SimpleSoftwareIO\SMS\SMSServiceProvider`  and name it `MyCustomServiceProvider` on top of this class import these two classes
[code]
Add you custom service to the config file that it can be loaded
Your custom Driver manager
[code]
Your custom service provider shoul

[2017-03-22 13:20] ngugijames commented on #61
Thanks @weezqyd
With a few modifications this worked very well.

[2017-03-22 13:20] #61 closed

[2017-04-20 17:42] chadpriddle opened #64 "Class sms does not exist error"
I got the alias and and serviceproviders and then sms.php config file setup. I add "use SMS" in my controller and i get this error:
Class 'SMS' not found

I then change it to "use SimpleSoftwareIO\SMS\Facades\SMS;" then i get this error:
ReflectionException in Container.php line 734:
Class sms does not exist

Here is my function I'm trying to execute in the controller:
`SMS::send('Your SMS Message

[2017-04-22 03:30] SimplyCorey commented on #64
It sounds like you havnt pulled in the correct file.  Add `use SimpleSoftwareIO\SMS\Facades\SMS;` to the top of the file and it should work.

[2017-04-23 14:54] chadpriddle commented on #64
I've tried both:

use SimpleSoftwareIO\SMS\Facades\SMS;
use SMS;

Same error.

[2017-04-24 12:52] SimplyCorey commented on #64
Let me see your app.php file.  It sounds like it has not been registered correctly.

[2017-04-24 20:10] chadpriddle commented on #64
Service Providers:
SimpleSoftwareIO\SMS\SMSServiceProvider::class;

Alias:
'SMS' => SimpleSoftwareIO\SMS\Facades\SMS::class;

[2017-05-03 14:54] linares82 opened #65 "laravel 5.4"
I use it in laravel 5.4 and obtain :
[Symfony\Component\Debug\Exception\FatalErrorException]
Call to undefined method Illuminate\Foundation\Application::share()

I found the problem in file SMSService provider line 51
$this->app['sms.sender'] = $this->app->share(function ($app) {
            return (new DriverManager($app))->driver();
        });

but i dind't know the correct way to mede it works

[2017-05-05 12:09] seandelaney commented on #65
I also have the same issue.

[2017-05-05 12:24] seandelaney commented on #65
I have fixed it locally since the deprecated share() method has been removed.

I changed:

[code]

to this:

[code]

[2017-05-05 19:35] SimplyCorey commented on #65
This has been fixed on 3.1.1.  You need to update.

[2017-05-05 19:40] SimplyThomas commented on #65
@seandelaney is correct in the implementation to support Laravel 5.4 if you are not up-to-date with the latest version of Simple-SMS.

This was updated in 9d20dbd09cee1ace277cab4cbeb1bfbf023843d6 which is both on the master and dev branches, having been released in 93e7feb7a1f76634b49247bb5849f06a879a3fb4 3.1.1.

If you have any other problems, don't hesitate to open another issue.

[2017-05-05 19:40] #65 closed

[2017-05-08 09:17] seandelaney commented on #65
I have now updated to 3.1.1.

Thanks

[2017-05-10 00:44] larryu opened #66 "How to add new carrier without changing EmailSMS.php file?"
I want to add a new carrier, if I don't add it to the EmailSMS.php, I got error of "Carrier specified is not found." I think it is not a good way to change vendor file, is there any way to let the user configure the carrier via config file? Thanks.

[2017-05-10 01:35] larryu commented on #60
composer require jeremeamia/superclosure will do the trick.

[2017-05-10 01:38] larryu opened #67 "Can I configure Queue settings when using queue to send SMS?"
I want to specify the timeout, maxTries etc when using laravel queue to send SMS, how can I configure them when calling SMS::queue?
Thanks.

[2017-05-13 02:27] MelonSmasher commented on #66
If you know the carrier's information you could submit a pull request here so everyone could have those settings.

[2017-05-13 03:21] SimplyThomas commented on #66
If you are looking to permanently add a carrier to the package, in order to contribute to the community as a whole, the best way to do it would be to add it to the EmailSMS.php file and create a pull request (don't forget to add it to the docs!) so we can review the addition and merge it in.

It's outside the scope of the project for us to create a config file to add a one-off carrier.

[2017-05-13 20:51] #66 closed

[2017-06-07 11:41] samarhaider commented on #65
Its not supported on php 5.6.

I am getting following error

[code]

[2017-06-07 11:58] SimplyCorey commented on #65
@samarhaider PHP 7 is required.

[2017-06-07 12:00] samarhaider commented on #65
But on site mention PHP: >= 5.5
https://www.simplesoftware.io/docs/simple-sms#docs-requirements

[2017-06-07 12:02] SimplyCorey commented on #65
Strange, ill fix that.

[2017-06-07 12:03] samarhaider commented on #65
Can you available this for php>= 5.5?

[2017-06-07 14:20] MelonSmasher commented on #65
Laravel 5.4 requires php >= 5.6.4.

https://laravel.com/docs/5.4

[2017-06-07 17:14] samarhaider commented on #65
But I am using PHP 5.6.23, simple-sms should be support this not only php 7

[2017-06-09 05:36] SimplyThomas commented on #65
@samarhaider We use functions and features that were introduced in PHP 7.0.0 and it is currently our baseline PHP version to run Simple-SMS. I will be updating the docs to reflect this accurately.

If you are using Laravel 5.4 (since you are making your comments on a Laravel 5.4 issue that was closed), your current PHP version could also run into issues with your base Laravel installation down the

[2017-06-23 07:43] seldimi opened #71 "Twilio outdated"
Hello. I have been trying to setup the simple SMS on Laravel where I use Twilio as standalone and I get this message.
simplesoftwareio/simple-sms 3.0.1 requires twilio/sdk ~4

But Twilio is 5.8 now... Any easy ideas or fixes?

[2017-06-26 12:21] SimplyCorey commented on #71
I would need to check the changes.  It will be awhile till I get around to it as I am busy with other projects at the moment.  Feel free to make the changes and create a pull request.

[2017-06-27 16:36] dhildreth commented on #11
I realize this is old and closed, but I'm experiencing the same thing.

    [GuzzleHttp\Exception\ClientException]
      Client error: `POST https://app.eztexting.com/sending/messages?format=json` resulted in a
    `403 Forbidden` response:
      {"Response":{"Status":"Failure","Code":403,"Errors":["Access Forbidden"]}}

I'm hoping it starts to 'just work' like it did for fsyaugy, but I'm not want

[2017-06-27 21:10] SimplyCorey commented on #11
Have you double checked your config options and ensured that you are passing in the correct api keys?

[2017-06-27 21:12] dhildreth commented on #11
I have ensured I'm using the correct username and password.  From my understanding, there wasn't any other API keys to punch in unless you were planning on receiving text messages as well.

https://www.simplesoftware.io/docs/simple-sms#docs-ez-texting-driver

(By the way, the short number may have been updated to 797979 from 313131 which is documented)

[2017-06-27 21:44] SimplyCorey commented on #11
Correct, you shoul djust need your username and password for eztexting.  Ill have to take a look at it and see what is going on.  a 403 error sounds like something is wrong on eztexting side though.

[2017-06-27 21:46] dhildreth commented on #11
I'd agree with that statement, but I would sure appreciate any help I can get.  Maybe their API has changed somewhat?

[2017-06-27 21:51] SimplyCorey commented on #11
I'll have to look at the code, its been awhile.  A quick look at their docs suggests it hasnt changed yet.  If you want to dd($response) here: https://github.com/SimpleSoftwareIO/simple-sms/blob/develop/src/MakesRequests.php#L136 it may give some insight of what's happening.

https://www.eztexting.com/developers/sms-api-documentation/rest#Sending

I plan on coming around and catching up with SMS,

[2017-06-27 21:57] dhildreth commented on #11
Thanks for the tip.

I added dd($this->getAuth) above the client->post() line and it prints out null.  I found that to be surprising.

[2017-06-27 22:02] SimplyCorey commented on #11
That's expected.  For some reason extexting accepts the username/password in the body and not the header.  If you dd the body, you should see it.

[2017-06-27 22:04] dhildreth commented on #11
Oh, yup! There it is.  The output of the dd($response) by the way is the same as the error I posted above.

     [GuzzleHttp\Exception\ClientException]
      Client error: `POST https://app.eztexting.com/sending/messages?format=json` resulted in a `403 Forbidden` response:
      {"Response":{"Status":"Failure","Code":403,"Errors":["Access Forbidden"]}}

[2017-06-27 22:07] dhildreth commented on #11
Oh, you know what... I just thought of this.  I'm using their free plan.  I wonder if they're restricting API access.  Let me get in touch with them and see what they say.

Thanks.

[2017-06-27 22:08] SimplyCorey commented on #11
Please do and get back to me on that.  We should add it to the docs if that is the case.

[2017-06-27 22:09] dhildreth commented on #11
Yup. That's the case.  They do not allow API access when you have a free account.  You must have a paid account.

[2017-06-27 22:12] dhildreth commented on #11
I'll keep looking around for a free SMS provider with access to the API.  I'll start with the ones you have on your list and then go from there.  Or, I'll just default back to the email gateways.  Thanks for your help.

[2017-06-27 22:16] SimplyCorey commented on #11
Thanks for checking that out and it is good to know.

[2017-06-27 22:18] dhildreth commented on #11
Also just found out that you can use "anytime credits".  I have 100.  I'll ride it out until I'm out. :-)

[2017-07-17 00:53] kjdion84 opened #74 "Dynamic driver"
I looked at the code and can see you are using `$this->app` in order to acquire driver values.

My question is - does this support dynamic driver values? Let's say that I am creating an application and want the person to be able to choose a driver and then enter their keys in a form, which would be saved in the database.

Does this package support that? Wouldn't it be better to allow someone to us

[2017-07-26 17:21] netopvh opened #75 "Infobip Driver"
Please, consider how to add the infobip driver. Because I have applications that use this platform.

[2017-08-02 11:10] nanadjei opened #76 "Laravel 5.3 error `FatalThrowableError Call to undefined method SimpleSoftwareIO\SMS\SMSServiceProvider::send()`"
Trying to send message using this package and twilio but I keep getting this error `FatalThrowableError
Call to undefined method SimpleSoftwareIO\SMS\SMSServiceProvider::send()`

Thank you.

[2017-08-02 12:17] SimplyCorey commented on #76
What does your code look like?

[2017-08-02 12:35] nanadjei commented on #76
Am getting this new error `Call to undefined method Illuminate\Foundation\Application::share()` am using laravel 5.3

[2017-08-06 15:37] SimplyThomas commented on #76
We need to have more context in order to help you. Can you share with us the code that you are using to call the SMS Send method?

The `Call to undefined method Illuminate\Foundation\Application::share()` might be unrelated entirely, though it is hard to say without seeing any of your code. We need more context in order to assist you.

[2017-08-06 15:38] SimplyThomas commented on #75
We currently do not plan to add any more drivers. If you want to create a driver for infobip, please do and create a pull request. Simple-SMS makes it easy to create drivers on your own.

[2017-08-06 15:38] #75 closed

[2017-08-06 15:40] SimplyThomas commented on #74
Being able to dynamically assign drivers is currently outside of the scope of this project. It's not impossible to do using simple-sms as a framework, but it is not something that we are going to add and later support.

[2017-08-06 15:40] #74 closed

[2017-08-06 15:41] SimplyCorey commented on #74
You could easily extend our service provider and make your own and then add this one to your config/app.php file.

[2017-08-08 04:54] milindrc opened #77 "Having issue"
Call to undefined method Illuminate\Foundation\Application::share()
I encountered this error whenever I send a message

[2017-08-08 04:56] milindrc commented on #77
SMS::send('Your SMS Message', null, function($sms) {
        $sms->to('+919999333545');
    });

[2017-08-08 12:22] SimplyCorey commented on #77
What version of Laravel?

[2017-08-20 15:25] rxluz commented on #77
I've same error, then I changed my composer.json to "simplesoftwareio/simple-sms": "3.1.*" and now is OK.

The SimpleSoftwareIO docs needs be changed (in docs is written "simplesoftwareio/simple-sms": "3.0.*")

[2017-09-06 11:29] alexmolosh commented on #71
it has been 2+ months with no action.
Mark package as abandoned. Noone uses old twilio.

[2017-09-06 13:49] SimplyCorey commented on #71
@alexmolosh What exactly have you done to support this package?  Did you make a PR?

[2017-09-06 13:50] SimplyCorey commented on #71
Coming in here with your shit attitude will get you nothing.

[2017-09-06 13:54] SimplyCorey commented on #71
Or open an bounty and pay for this project to be supported.  Unless you have something positive to contribute, see your way out.

[2017-09-08 11:03] alexmolosh commented on #71
Support this package? Are you joking?
I am supporting useful modules, not those that are not even available for install.
You are wasting time of good people - they are trying to use it in vain.
You should be honest to everybody. "Needs funding to make it work" is a status for your package.

[2017-09-08 13:08] SimplyCorey commented on #71
@alexmolosh You have 1 commit over a year on GitHub.  You are not supporting any useful open source projects.  I believe I saved you time.  You can fork the project and fix it and PR it.  Or you can waste even more time and rewrite it from scratch.  I'm not joking, and your showing your ass.  Again, make a PR or go kick rocks.

[2017-09-08 13:21] SimplyThomas commented on #71
Let's do our best to remain civil and constructive with our comments. There's no reason to be blatantly disrespectful towards anyone -- if you have an issue with an open sourced package, you are more than welcome to do your part to contribute by providing constructive issues, conversation, or even taking the time required to add code.

This package has been abandoned in favor of http://laravel-not

[2017-09-29 00:51] chadpriddle commented on #77
Same issues updating to 3.1.* fixed it. I'm running laravel 5.5

[2017-10-19 01:31] #77 closed

[2017-10-19 01:32] #71 closed

[2017-10-19 01:33] SimplyThomas commented on #51
This project has been abandoned. This enhancement will never come to light.

[2017-10-19 01:33] #51 closed

[2017-10-19 01:33] SimplyThomas commented on #48
This package has been abandoned in favor of http://laravel-notification-channels.com/

[2017-10-19 01:33] #48 closed

[2020-06-03 23:41] #52 closed

[2020-06-03 23:41] #60 closed

[2020-06-03 23:41] #64 closed

[2020-06-03 23:41] #67 closed

[2020-06-03 23:41] #76 closed

[2020-06-03 23:42] SimplyCorey opened #79 "Interest?"
I am debating on restoring this package and continuing development on this.  Is there any interest in the wild of upgrading this package to Laravel 7 and moving this to Laravel's notification system?

[2020-08-18 21:46] Filipe-Souza commented on #79
Hi, would be nice to have this features on Laravel 6/7.

Currently I'm working on a solution, unfortunately i will make a manual implementation for this running project, but I'm interested to help moving this package to a recent version.

[2020-09-24 14:06] tyler-reed-tsico commented on #79
I'm currently trying to get this working on a Laravel 6 application. It looks like the underlying Twilio dependency is not PHP 7.2 compatible. The current version of the SDK (4.x) needs to be upgraded to 6.x.

[2020-10-03 14:34] SimplyCorey commented on #79
There is some discussion internally to bring this package online for a closed project we are working on.

We will be providing more details soon but the overall scope of this project will be changed to support only Twilio and Nexmo.

Would this fill both of your needs as well?

[2020-10-28 06:20] odion-cloud opened #80 "laravel 8 support"

[2020-12-24 15:18] carlosjs23 commented on #79
Oh, we're using this package with LabsMobile provider, I can try to maintain this provider, if you want.

[2021-07-06 15:05] emargareten commented on #79
@SimplyCorey  any updates?

[2021-07-20 21:37] vickymessii commented on #79
Hi,
I'm interest in maintenance & upgrade for this package.

[2021-08-13 14:16] Eastwestbanker opened #81 "sms"
hi how to have this

[2021-08-22 12:21] #81 closed

[2021-08-22 12:22] SimplyCorey commented on #81
Please explain your issue in detail